./scripts/orthology/.ipynb_checkpoints
./analysis/.ipynb_checkpoints
./analysis/mutation_spectrum/mutations_frommaf/.ipynb_checkpoints
./analysis/mutation_spectrum/.ipynb_checkpoints
./scripts/orthology/.ipynb_checkpoints/Orthologs_counts_from_proteinortho.py-checkpoint.ipynb
./scripts/orthology/.ipynb_checkpoints/pariwise_alignment_sitedifferences-checkpoint.ipynb
./scripts/orthology/.ipynb_checkpoints/alignment_convervation_AA-checkpoint.ipynb
./analysis/mutation_spectrum/mutations_frommaf/.ipynb_checkpoints/test_subjects-checkpoint.ipynb
